.about-section {
  margin: 0;
  text-align: left;
}

.about-text {
  text-align: justify;
  text-justify: inter-word;
}

.about-intro {
  color: #171717;
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1.1rem;
}

.about-current,
.about-past,
.about-hobby {
  color: #171717;
  margin-top: 1.5rem;
  line-height: 1.6;
}

.highlight {
  color: #000;
  font-weight: 600;
}
